Problem Statement : Find out if cities play any role in receiving funding. Find top 10 Indian cities with most amount of fundings received. Find out percentage of funding each city has got (among top 10 Indian cities only). Print the city and percentage with 2 decimal place after rounding off. Note: Take city name "Delhi" as "New Delhi". Check the case-sensitiveness of cities also. That means - at some place, instead of "Bangalore", "bangalore" is given. Take city name as "Bangalore". For few startups multiple locations are given, one Indian and one Foreign. Count those startups in Indian startup also. Indian city name is first. Print the city in descending order with respect to the percentage of funding.

import matplotlib.pyplot as plt
import pandas as pd

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv("startup_funding.csv")
df

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
...,...,...,...,...,...,...,...,...,...,...
2367,2367,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [23]:
df['CityLocation'].replace(np.nan,'0',inplace=True)

In [24]:
df = df[df['CityLocation'] != '0']

In [26]:
def separate_city(a):
    return a.split("/")[0]

city_data = df['CityLocation'].apply(separate_city)

In [27]:
city_data.replace("Delhi","New Delhi",inplace=True)
city_data.replace("bangalore","Bangalore",inplace=True)

In [28]:
df['CityLocation'] = city_data

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
def change(a):
    return str(a).replace(",","")
df['AmountInUSD'] = df['AmountInUSD'].apply(change)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
df['AmountInUSD'].replace("nan","0",inplace=True)

D:\Anaconda\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [31]:
df['AmountInUSD'] = pd.to_numeric(df['AmountInUSD'])

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
final_data = df.groupby('CityLocation')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]
amount = final_data.values
city = final_data.index

In [37]:
total = sum(amount)

In [49]:
for i in range(len(city)):
    print(city[i],format((amount[i]/total*100),'.2f'),"%")

Bangalore 49.97 %
New Delhi 16.38 %
Mumbai 13.95 %
Gurgaon 12.31 %
Chennai 2.45 %
Pune 1.77 %
Hyderabad 1.16 %
Noida 1.01 %
Ahmedabad 0.58 %
Pune  0.41 %

Problem Statement : There are 4 different type of investments. Find out percentage of amount funded for each investment type. Plot a pie chart to visualise. Print the investment type and percentage of amount funded with 2 decimal places after rounding off. Note : Correct spelling of investment types are - "Private Equity", "Seed Funding", "Debt Funding", and "Crowd Funding". 
        Keep an eye for any spelling mistake. You can find this by printing unique values from this column. Print the investment type in descending order with respect to the percentage of the amount funded.

In [54]:
df = pd.read_csv('startup_funding.csv')

In [59]:
df['InvestmentType'].replace("SeedFunding","Seed Funding",inplace=True)
df['InvestmentType'].replace("PrivateEquity","Private Equity",inplace=True)
df['InvestmentType'].replace("Crowd funding","Crowd Funding",inplace=True)

In [61]:
df['InvestmentType'].value_counts()

Seed Funding      1301
Private Equity    1067
Crowd Funding        2
Debt Funding         1
Name: InvestmentType, dtype: int64

In [64]:
def change(a):
    return str(a).replace(",","")
df['AmountInUSD'] = df['AmountInUSD'].apply(change)

In [66]:
df['AmountInUSD'].replace('nan','0',inplace=True)

In [68]:
df['AmountInUSD'] = pd.to_numeric(df['AmountInUSD'])

In [77]:
final_data = df.groupby("InvestmentType")['AmountInUSD'].sum().sort_values(ascending=False)

In [78]:
inv_name = final_data.index
amount = final_data.values

In [79]:
total = sum(amount)

In [80]:
for i in range(len(inv_name)):
    print(inv_name[i],format(amount[i]/total*100,'.2f'))

Private Equity 98.15
Seed Funding 1.81
Debt Funding 0.04
Crowd Funding 0.00